.box{
    width:60%;
    justify-content: center;
    margin : 5 auto;
    padding : 10px;
}

.background-image{
    background-image: url("");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}